[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
markdown = "*"
django-filter = "*"
django-rest-knox = "*"
djongo = "*"
dnspython = "*"
django-cors-headers = "*"
requests = "*"
django-extra-fields = "*"
pillow = "*"
pygments = "*"

[requires]
python_version = "3.8"
